<html>
<head>
  <meta charset="utf-8">
</head>
<body>
  <div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_SVG"></script>
    <script type="text/javascript">
      window.PlotlyConfig = { MathJaxConfig: 'local' };
    </script>
    <script src="https://cdn.plot.ly/plotly-2.3.0.min.js"></script>

    <div id="0008cbd8-3003-49f7-a503-1482277ab8ce" class="plotly-graph-div" style="height:100%; width:100%;"></div>

    <script type="text/javascript">
      window.addEventListener('load', function () {
        Plotly.newPlot(
          '0008cbd8-3003-49f7-a503-1482277ab8ce',
          [
            {"x":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22],"y":[100,500,700,900,1100,1300,1900,2200,2400,2600,3000,3200,3400,3600,4000,4200,4400,4600,5800,6200,7300,7700],"type":"bar","name":"Cumulative XP per day","marker":{"color":"#531eae"}},
            {"line":{"color":"#ff9749","shape":"spline"},"y":[100,400,200,200,200,200,600,300,200,200,400,200,200,200,400,200,200,200,1200,400,1100,400],"type":"scatter","name":"Total XP per day","x":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22]}
          ],
          {
            "xaxis": {"title": {"text": "Days training"}},
            "template": {
              // ... your template configuration ...
            },
            "data": {
              // ... your data configuration ...
            },
            "barmode": "overlay",
            "margin": {"l": 50, "b": 50, "r": 50, "t": 60},
            "title": "XP per day learning Swedish words",
            "yaxis": {"rangemode": "tozero", "title": {"text": "XP"}}
          },
          {"editable": false, "responsive": true, "staticPlot": false, "scrollZoom": true}
        );
      });
    </script>
  </div>
</body>
</html>
